.wrapper {
  padding: 15px 20px;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.white {
  background: white;
}

.grey {
  background: lightgrey;
}

.disabled {
  cursor: not-allowed;
}
